<!DOCTYPE html>
<html>
<head>

</head>
<body style="text-align:center;">
<div class="header">
  <img src="https://cdn.icon-icons.com/icons2/1527/PNG/512/shield_106660.png" style="width:20px;height:20px;">  {{title}}
</div>

<div class="content">
  <table align="center">
    <tr>
      <td>Name</td>
    </tr>
    <tr>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Email</td>
    </tr>
    <tr>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Phone</td>
    </tr>
    <tr>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>ID KTP</td>
    </tr>
    <tr>
      <td>
        <label for="myfile"></label>
      <input type="file" id="myfile" name="myfile"><br><br></td>
    </tr>

    <tr>
      <td>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1"> Saya menyetujui dengan Syarat dan Ketentuan </label>
      </td>
    </tr>
  </table>
<br>
  <br>
  <button >Submit</button>
  </div>
<p id="demo"></p>

</body>
</html>